.footer{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around,center;

    color: var(--color-white);
    font-family: var(--font-base);

}
.footer >*{
    flex: 1;
}
.footer_contact_us h2{
    margin: 1rem;
    text-align: center;
}
.footer_contact_us p{
    text-align: center;
    margin: 0.8rem;
    font-family:var(--font-alt) ;
    font-size: 14px;
    color: var(--color-crimson);
}
.footer_social_media h2{
    color: var(--color-golden);
    font-size: 3rem;
    text-align: center;
    margin: 1rem;
    
}
.footer_social_media p{
    text-align: center;
    max-width: 100%;
    font-size: 14px;

    font-family: var(--font-alt);
    color: var(--color-crimson);
}
.footer_working_hour h2{
    text-align: center;
    margin: 1rem;
    letter-spacing: 0;
}
.footer_working_hour p{
    text-align: center;
    font-size: 14px;
    color: var(--color-crimson);
    font-family: var(--font-alt)
}
.footer_social_media_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 2rem 0; */

}
.footer_social_media_icons_icon{
    font-size: 2rem;
    color: var(--color-crimson);
    margin: 0.5rem;
    cursor: pointer;
}