.restaurent-delicious {
  background-color: var(--color-black);
  color: var(--color-golden);
  font-family: var(--font-base);
  padding: 4rem 2rem;
}
.restaurent-delicious_heading {
  padding: 2rem;
}
.restaurent-delicious_heading p:nth-of-type(1) {
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: bold;
  /* margin: 2rem 0; */
  padding: 0.8rem 0;
}
.restaurent-delicious_heading p:nth-of-type(2) {
  padding: 0 5rem;
  font-family: var(--font-alt);
  color: var(--color-white);
  text-align: center;
}

.restaurent-delicious_heading h2 {
  text-align: center;
  margin: 2rem;
  color: var(--color-white);
  letter-spacing: 2px;
  font-size: 3rem;
}
.restaurent-delicious_image_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 1rem;
  gap: 1rem;
}
.restaurent-delicious_image_grid img {
  max-width: 100%;
}
.text-overlay{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  /* max-width: 200px; */
  background-color: transparent;
  /* top: 90%;
  left: 50%; */
  font-size: 2rem;
  transform: translate(0%,-100%);
  color: var(--color-white);
  opacity: 0;
  padding: 10px;
  transition: opacity 1s ease-in-out;
}
.text-overlay p:nth-of-type(1){
 /* display: block; */
 font-size: 1.5rem;
 font-family: var(--font-alt);
 color: var(--color-white);
  text-align: center;
}
.text-overlay p:nth-of-type(2){
  /* display: block; */
  font-family: var(--font-base);
  color: var(--color-golden);
   text-align: center;
 }
.image-wrapper:hover .text-overlay {
  opacity: 1;
  cursor: pointer;
}

.restaurent-delicious_image_grid img:hover {
  transform: scale(1.01);
}
